@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden !important;
}
.image-main {
  border-radius: 45px 45px 0px 45px;
  overflow: hidden;
}
:root {
  --white: #fff;
  --dark: #000;
}
img {
  @apply pointer-events-none;
}

.project {
  /* height: 400px; */
}

.loader {
  width: 134px;
  height: 122px;
}

.loader path {
  stroke: black;
  stroke-dasharray: 818;
  stroke-dashoffset: 818;
  animation: dash 4s ease forwards;
}

@keyframes dash {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
.burger {
  width: 50px;
  z-index: 100 !important;
  height: 50px;
  font-size: 24px;
  background-color: black;
  color: white;
  border-radius: 50%;
  cursor: pointer;
}
.menu,
.menu::before,
.menu::after,
.mobile,
.mobile::after,
.mobile::before {
  content: "";
  background: var(--white);
  width: 30px;
  transition: all 0.4s ease;
  height: 1.5px;
  border-radius: 99px;
}
.menu::after,
.menu::before,
.mobile::after,
.mobile::before {
  position: absolute;
}
.menu::before,
.mobile::before {
  transform: translateY(7px);
}
.menu::after,
.mobile::after {
  transform: translateY(-7px);
}
.menu.pop::after,
.mobile.pop::after {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu.pop::before,
.mobile.pop::before {
  transform: rotate(-45deg) translate(35px, 35px);
}
.menu.pop,
.mobile.pop {
  transform: translateX(-50px);
  background-color: transparent;
}
input,
textarea {
  @apply focus-visible:text-nean_blue focus:outline-none focus:border-nean_blue;
}

.featured-works::-webkit-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: none;
}
.featured-works {
  pointer-events: none;
}
